<div class="container-fluid">
  <div class="row justify-content-md-center d-flex">
    <div class="jumbotron col-md-4 col-sm-12 align-self-center">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.valid)">
          <div *ngIf="backendError" class="alert alert-danger">
            {{ backendError }}
          </div>
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login"
                   placeholder="Login"
                   name="login"
                   email
                   [(ngModel)]="model.login"
                   #login="ngModel">
            <small *ngIf="login.invalid && (login.dirty || login.touched)" class="text-danger">
              <div>Invalid email entered</div>
            </small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                   placeholder="Password"
                   required
                   name="password"
                   minlength="5" maxlength="8"
                   [(ngModel)]="model.password" #password="ngModel">
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Password is too short.
              </div>
            </small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>
